/* This file contains all the constants for colors and font styles */

$body-font: "Helvetica Neue", Arial, sans-serif;
// Note that Gill Sans is the top of the stack and corresponds to what is used in Tufte's books
// However, it is not a free font, so if it is not present on the computer that is viewing the webpage
// The free Google 'Lato' font is used instead. It is similar.
$sans-font: "Helvetica Neue", Arial, sans-serif;;
$code-font: "Helvetica Neue", Arial, sans-serif;;
$url-font: "Helvetica Neue", Arial, sans-serif;;
$text-color: #5b4636;
$bg-color: #f4ecd8;
$contrast-color: #a89031;
$border-color: #333333;
$link-style: underline; // choices are 'color' or 'underline'. Color option styles links with $contrast-color set above



